<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" monitorInterval="5">

    <Appenders>

        <File name="RequestsAppender" fileName="logs/requests.log" append="false">
            <PatternLayout>
                <Pattern>%d{dd-mm-yyyy HH:mm:ss.sss} %p: %msg | request #%X{requestCounter} %n</Pattern>
            </PatternLayout>
        </File>

        <File name="StackAppender" fileName="logs/stack.log" append="false">
            <PatternLayout>
                <Pattern>%d{dd-mm-yyyy HH:mm:ss.sss} %p: %msg | request #%X{requestCounter} %n</Pattern>
            </PatternLayout>
        </File>

        <File name="IndependentAppender" fileName="logs/independent.log" append="false">
            <PatternLayout>
                <Pattern>%d{dd-mm-yyyy HH:mm:ss.sss} %p: %msg | request #%X{requestCounter} %n</Pattern>
            </PatternLayout>
        </File>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{dd-mm-yyyy HH:mm:ss.sss} %p: %msg | request #%X{requestCounter} %n"/>
        </Console>
    </Appenders>

    <Loggers>

        <logger name="request-logger" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RequestsAppender"/>
        </logger>

        <logger name="stack-logger" level="INFO" additivity="false">
            <AppenderRef ref="StackAppender"/>
        </logger>

        <logger name="independent-logger" level="DEBUG" additivity="false">
            <AppenderRef ref="IndependentAppender"/>
        </logger>

        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>

    </Loggers>
</Configuration>